<% content_for :page_title, "Welcome, #{@call.recipient_name}!" %>
<% content_for :preloader do %>
  <%= javascript_tag "var preload = #{ @call.product_urls.to_json.html_safe };" %>
<% end %>

<%= content_tag :div,
  id: "wizard",
  data: @call_json do %>
<% end %>

<div class="preloading" style="display: none;">
  <%= image_tag "https://s3-us-west-2.amazonaws.com/callforgiftideas/ripple.gif" %>
</div>
