<% content_for :page_title, "Hey, #{@call.recipient_name}!" %>
<% content_for :javascript do %>
  <%= javascript_pack_tag "wizard" %>
<% end %>

<div class="card">
  <%= content_tag :div,
    id: "wizard",
    data: {
      recipientName: @call.recipient_name
    }.to_json do %>
  <% end %>
</div>
