<% content_for :page_title, 'Call for Gift Ideas!' %>

<div class="card">
  <h1 class="text-center">Welcome!</h1>
  <p>
    Total number of products wished for: <span><%= @total_count %></span>
  </p>
  <div id="new-call"></div>
</div>

<div class="preloading" style="display: none;">
  <%= image_tag "https://s3-us-west-2.amazonaws.com/callforgiftideas/aw_yiss.png" %>
  <%= image_tag "https://s3-us-west-2.amazonaws.com/callforgiftideas/ripple.gif" %>
</div>
