.product {
  .btn.round {
    margin-right: 1.25rem;
    font-size: 1.5rem;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    padding: 16px;

    &:last-child {
      margin-right: 0;
    }
  }

  .buttons {
    margin-bottom: 14px;
  }

  .image-container {
    background: #f9f9f9;
    padding: 18px 0;
  }

  .product-description {
    padding: 22px 18px 26px;

    .name {
      color: #e8898f;
      margin-bottom: 12px;
      text-shadow: 1px 1px #f3f3f3;
    }

    .description {
      clear: both;
      color: #afafaf;
    }

    .price {
      font-size: 12px;
      margin-left: 10px;
      color: #787878;
    }

    .more-container {
      text-align: right;
    }

    .more {
      border: 1px solid $green;
      color: $green;
      font-size: 12px;
      margin-bottom: 18px;

      &:hover {
        color: white;
        background: $green;
      }
    }
  }
}

.card#yes-or-no {
  max-width: 440px;
  padding: 0;
}

.card#next {
  padding: 1rem;
  max-width: 270px;
}

.card.leader {
  padding: 20px 10px 10px;
}

// mobile friendliness
@include media-breakpoint-down(xs) {
  .product .product-description .more-container {
    text-align: left;
  }
}
