.wishlist-item {
  box-shadow: 5px 5px 0px rgba(232, 136, 142, 0.6);
  margin: 18px 0;
  border: 1px solid #f1b6ba;
  border-radius: 5px;
}

.wishlist-item__image-container {
  padding: 0;
}

.wishlist-item__image {
  border-radius: 5px 0 0 5px;
}

.wishlist-item__rank {
  position: absolute;
  left: 0;
  padding: 6px 10px;
  background: #f1b6ba;
  color: white;
  font-size: 14px;
  font-weight: bolder;
  border-radius: 0 0 5px 0;
}

#sort-screen h2 {
  font-size: 18px;
  color: #f18bab;
}

.wishlist-items-container {
  margin: 20px 0;
}


// mobile friendliness
@include media-breakpoint-down(xs) {
  .wishlist-item__image {
    border-radius: 5px 5px 0 0;
  }
}
